  <header class="navbar navbar-expand-lg navbar-dark bg-success px-4 py-3">
    <a class="navbar-brand" href="#">AgriTech Dashboard</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/farmers" routerLinkActive="active">Farmers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/inspections" routerLinkActive="active">Inspections</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/funding" routerLinkActive="active">Funding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/consent" routerLinkActive="active">Consent Logs</a>
        </li>
      </ul>
    </div>
  </header>